@use '../../lib/service.scss' as s;

// @use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.add-button {
	display: grid;
	grid-template-columns: 92px 1tr;
	align-items: center;
	gap: s.space(6);
	color: s.color(light);
	font-size: 18px;
}