@use '../../lib/service.scss' as s;

.product {
	display: flex;
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(8);

	&__title {
		font-size: 28px;
		font-weight: bold;
		color: rgb(32, 116, 194);
		padding-bottom: s.space(2);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: s.space(5);
	}

	&__card {
		border: 2px solid s.color('light');
		border-radius: s.space(5);
		padding: s.space(5);
		box-shadow: 5px 5px 5px 2px s.color('light');
	}

	&__card--title {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: s.space(3);
	}

	&__info {
		font-size: 16px;
		color: rgb(65, 62, 62);
		padding-bottom: s.space(3);
	}

	&__id {
			font-size: 20px;
			color: gray;
			padding-bottom: s.space(4);
		}

	&__bottom {
		display:flex;
		justify-content: space-between;
	}	

	&__price {
		font-size: 24px;
	}

	&__link {
		font-size: 20px;
		text-decoration: none;
	}
	}

	
